[submodule "tht"]
	path = tht
	url = git@github.com:m2march/tht.git
[submodule "midi"]
	path = midi
	url = git@github.com:m2march/midi.git
[submodule "beatroot"]
	path = beatroot
	url = git@github.com:m2march/beatroot.git
[submodule "povel1985"]
	path = povel1985
	url = git@github.com:m2march/povel1985.git
[submodule "python-midi"]
	path = python-midi
	url = git@github.com:m2march/python-midi.git
